<div data-bind="allowBindings: false" id="gcodestickyoptions">
<button class="btn btn-block" id="gcodestickyoptions_button" data-bind="allowBindings: true, click: saveOptions">{{ _('Save Options') }}</button>
</div>
